<form #addressForm="ngForm" class="editForm" novalidate>
  <div class="tab-pane in active">
    <h3 class="head text-center">{{title}}</h3>
    <hr>
    <div class="container container-form ">

      <br>

      <table class="table table-striped table-size">
        <thead class="table-head ">
          <tr>
            <th scope="col">Jours d'ouverture</th>
            <th scope="col" class="td-position">Heures d'ouverture</th>
            <th scope="col" class="td-position">Heures de fermeture</th>
            <th scope="col" class="td-position">Depannage de nuit :</th>
          </tr>
        </thead>
        <tbody>
          
          <!-- let-i="index" for option in ng template maybe for search per index -->
          <ng-template ngFor let-workDay [ngForOf]="workSchedules.workDay" >
            <tr>
              <td>{{workDay.day}}</td>
              <td class="td-position">
                <input class="timepicker-position" type="time" [(ngModel)]="workDay.opening_time" name="opening_time" value="{{workDay.opening_time}}">
              </td>
              <td class="td-position">
                <input class="timepicker-position" type="time" [(ngModel)]="workDay.closing_time" name="closing_time" value="{{workDay.closing_time}}">
              </td>
              <td class="td-position">
                <input type="checkbox" [(ngModel)]="workDay.night_service" name="night_service" value="{{workDay.night_service}}">
              </td>
            </tr>
          </ng-template>
          
        </tbody>
      </table>

      <br>
      <br>


      <div class="form-group text-center">
        <button type="button" (click)="goToPrevious(addressForm)" class="btn btn-outline-dark">
          Etape Précédente
        </button>
        <button type="button" [disabled]="!addressForm.valid" (click)="goToNext(addressForm)" class="btn btn-outline-dark">
          Etape Suivante
        </button>
      </div>

    </div>
  </div>
</form>