.btn-en {
    background: darkgrey !important;
}

.table-head {
   background-color:  #A93226;
   color: white;
}

.check-position {
    text-align: center;
}

.timepicker-position {
    padding-left: 45px;
    border-radius: 10px;
}

.td-position {
    text-align: center;
}

.table-size {
    line-height: 2;
}

input[type=checkbox] {
    transform: scale(1.5);
  }