<div id="search-input">
  <!-- <h3>Rechercher un garage...</h3>
  <div class="input-group">
    <input (keyup)="searchTerm$.next($event.target.value)" type="text" class="search-query form-control" placeholder="Rechercher un garage par nom, adresse, telephone..."
    />
  </div> -->
  <br>
  <div class="container">
    <div class="input-group">
      <input type="text" class="form-control" (keyup)="searchTerm$.next($event.target.value)" placeholder="Rechercher un garage par nom, adresse, telephone...">
      <span class="input-group-btn">
        <button class="btn btn-search" type="button">
          <i class="fa fa-search fa-fw"></i> Rechercher</button>
      </span>
    </div>
  </div>
</div>
<ul class="card-position" *ngIf="results">
  <div *ngFor="let result of results">
    <br>
    <div class="card card-color">
      <div class="card-header header-color">
        Garage : {{ result.name_co }}
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col img-position">
            <img src="../../../assets/images/garage.png" class="img-fluid">
          </div>

          <div class="col text-position">
            <div class="collumn">
              <i class="fa fa-user"></i>
              <span>{{result.boss_co}}</span>
              <br>
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>{{result.tel_co}}</span>
              <br>
              <i class="fa fa-envelope"></i>
              <span>{{result.email_co}}</span>
              <br>
              <i class="fa fa-map-marker"></i>
              <span>{{result.address_co}}, {{result.postal_code_co}}, {{result.city_co}}</span>
              <br>
            </div>
          </div>

          <div class="col text-position">
            <div class="collumn">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <span>Ouvert</span>
              <br>
              <i class="fa fa-bell"></i>
              <span>Service de nuit</span>
              <br>
            </div>
          </div>

        </div>
      </div>

      <div class="card-footer footer-color">
        <i class="fa fa-globe"></i>
        <span>
          <a>{{result.website_co}}</a>
        </span>
      </div>
    </div>
  </div>
  <br>
</ul>