
h1 {
	font-family: 'Raleway', sans-serif;
	color: #FFF;
	background-color:firebrick;
	padding: 1px 0;
	margin: 0;
	text-align: center;
	border-radius: 10px;
	font-size: 1.7em;

}


@media screen and (max-width: 425px) {
    .img {
        height: 100px;
    }
}

