<form #addressForm="ngForm" class="editForm" novalidate>
    <div class="tab-pane in active">
        <h3 class="head text-center">{{title}}</h3>
        <hr>
        <div class="container container-form">
            <div class="row">
                <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                        <label class="control-label" for="firstname">Adresse-mail</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon">
                                <i class="fa fa-address-card-o" aria-hidden="true"></i>
                            </div>
                            <input class="form-control input-md" #firstname="ngModel" required id="email_co" name="email_co" type="text" placeholder="Adresse-mail"
                                [(ngModel)]="mechanician.email_co">
                        </div>
                    </div>
                </div>
                <div class='col-xs-12 col-sm-6'>
                    <div class="form-group">
                        <label class="control-label" for="lastname">Mot de passe</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon">
                                <i class="fa fa-key" aria-hidden="true"></i>
                            </div>
                            <input class="form-control input-md" #lastname="ngModel" required id="password" name="password_co" type="password" placeholder="Mot de passe"
                                [(ngModel)]="mechanician.password_co">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group text-center">
                <button type="button" [disabled]="!addressForm.valid" (click)="goToNext(addressForm)" class="btn btn-outline-dark">
                    Etape Suivante
                </button>
            </div>
        </div>
    </div>
</form>