<header class="main-head">
  <nav class="head-nav">
    <ul class="menu">
      <li>
        <div class="person">
          <i></i>
          <a href="#">
            <span>About</span>
          </a>
        </div>
      </li>
      <li>
        <a href="#">
          <svg class="video-player">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#video-player"></use>
          </svg>
          <span>Work</span>
        </a>
      </li>
      <li>
        <a href="#">
          <svg class="speech-bubble">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#speech-bubble"></use>
          </svg>
          <span>Blog</span>
        </a>
      </li>
      <li>
        <a href="#">
          <svg class="paper-airplane">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#paper-airplane"></use>
          </svg>
          <span>Contact</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
<!-- //main-head -->

<div class="wrap-all-the-things"></div>