@import url(https://fonts.googleapis.com/css?family=Roboto:300);

$color-1: #1a1a1a;
$color-2: #fefefe;
$pad:     0.925rem;

html,
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Roboto;
  height: 100%;
}
.hide{
  display: none;
}
.head-nav {
  li{
    &:hover{
        background-color: $color-1;
        &:before{
            background-color: $color-1;
        }
        svg{
            background: $color-1;
            fill: #ED1C5B;
        }
        a{
          color: #ED1C5B;
        }
    }
    &:before{
        position: absolute;
        left: -$pad;
        top: 0;
        width: $pad;
        height: 100%;
        content: "";
        background: #ED1C5B;
        z-index: 1;
        transition: background 400ms;
    }
  }
  ul{
      margin: {top:$pad*2;right:0;bottom:0;left:0;}
      padding: 0;
      list-style: none;
  }
  li{
      position: relative;
      clear: both;
      width: 100%;
      padding: 0;
      transition: background 400ms;
      a{
          display: flex;
          padding: {top:2vh;bottom:2vh;}
      }
  }
  a{
      align-items: center;
      width: 100%;
      color: $color-2;
      text-decoration: none;
      transition: color 400ms;
      span{
          position: relative;
          display: block;
          z-index: 0;
          font-family: Roboto;
          text-indent: -20em;
          white-space: nowrap;
          transition: text-indent 400ms ease-in-out;
      }
  }
  svg{
      position: relative;
      max-width: 80px;
      max-height: 30px;
      z-index: 1;
      fill: $color-2;
      background: #ED1C5B;
      transition: 400ms;
  }
  @media screen and (max: 768px){
      ul{
          margin: {top:$pad/4}
      }
      svg{
          max-width: 20px;
      }
  }
}
.main-head{
  bottom: 0;
  width: 83px;
  height: 100%;
  z-index: 1;
  background: #ED1C5B;
  transition: width 400ms;
  &:hover{
      width: 436px;
      & + .wrap-all-the-things{
          transform: translateX(336px);
          max-width: 100%;
          opacity: 0.4;
      }
      .head-nav{
          li{
              @for $i from 1 through 4 {
                  &:nth-of-type(#{$i}){
                      span{
                          transition-delay: 100ms * $i;
                      }
                  }
              }
          }
          span{
              text-indent: 0;
          }
      }
  }
  @media screen and (max: 768px){
      width: 70px;
      padding: 0 $pad;
      .head-nav{
          padding: {left:7px;}
      }
      &:hover{
          .head-nav{
              span{
                  text-indent: 1em;
              }
          }
      }
  }
}
.wrap-all-the-things{
  min-height: 100%;
  height: 100%;
  padding: {left:140px;}
  margin: {top: 0;}
  background-image: url(https://download.unsplash.com/photo-1428976365951-b70e0fa5c551);
  background-size: cover;
  background-position: center center;
  transition: transform 400ms, opacity 400ms;
  @media screen and (max: 480px){
      padding: {left:70px;}
  }
}