<div class="cards">

	<div class="card">
		<div class="card-header bg1">
			<img class="card-image" src="../../../assets/images/quote-view.png" alt="Share" />
		</div>
		<div class="card-content">
			<h2 class="card-title">Mes devis proposés</h2>
			<p class="card-text">Vos devis qui n'ont pas encore été acceptés sont répertoriés ici, visualisez les. </p>
			<a class="card-more" alt="More Info" (click)="openQuoteView()">Voir mes devis proposés</a>
		</div>
	</div>

	<div class="card">
		<div class="card-header bg2">
			<img class="card-image" src="../../../assets/images/quote.png" alt="Share" />
		</div>
		<div class="card-content">
			<h2 class="card-title">Mes devis acceptés</h2>
			<p class="card-text">N'oubliez d'appelez votre client pour convenir d'un rendez-vous, il vous veut !</p>
			<a class="card-more" alt="More Info" (click)="openQuoteAccept()">J'appelle le client</a>
		</div>
	</div>

	<div class="card">
		<div class="card-header bg2">
			<img class="card-image" src="../../../assets/images/quote-refused.png" alt="Share" />
		</div>
		<div class="card-content">
			<h2 class="card-title">Mes devis refusés</h2>
			<p class="card-text">Ne vous decouragez pas, d'autres annonces vous attendent.</p>
			<a class="card-more" alt="More Info" (click)="openQuoteRefused()">Voir mes devis refusés</a>
		</div>
	</div>

</div>