<div id="search-input">
  <div class="container">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Rechercher une annonce par secteur" [(ngModel)]="searchTerm">
      <span class="input-group-btn">
        <button class="btn btn-search" type="button" (click)="searchClient()">
          <i class="fa fa-search fa-fw"></i> Rechercher</button>
      </span>
    </div>
  </div>
</div>
<br>

<div class="container">
  <ngx-loading [show]="loading" [config]="{primaryColour: 'black', secondaryColour: 'black', tertiaryColour: 'black' }"></ngx-loading>
</div>


<ul class="card-position" *ngIf="ads">
  <div *ngFor="let ad of ads">
    <br>
    <div class="card card-color">
      <div class="card-header header-color">
        <h4>
          {{ ad.name_ad }}
        </h4>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-xl-3 col-1 img-position">
            <img src="../../../assets/images/quote-param.png" class="img-fluid">
          </div>

          <div class="col-xl-9 col-11 text-position">
            <div class="collumn">
              <h5>Description de la panne:
                <hr>
              </h5>
              <p>{{ad.description_ad}}</p>
              <h5>Location :
                <hr>
              </h5>
              <p>Valenciennes</p>
              <h5>Disponible le :
                <hr>
              </h5>
              <p>{{ad.repair_date}}</p>
            </div>
          </div>

        </div>
      </div>

      <div class="card-footer footer-color">
        <span>
          <a (click)="openQuoteAdd(ad)">Proposer un devis</a>
        </span>
      </div>
    </div>
  </div>
  <br>
</ul>