// .btn-search {
//     padding-top: 33px;
// }
search-query {
    border-radius: 10px;
}

.btn-search {
    background: #424242;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #1c1c1c;
  }
  .btn-search:link, .btn-search:visited {
    color: #fff;
  }
  .btn-search:active, .btn-search:hover {
    background: #1c1c1c;
    color: #fff;
  }

  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #404040;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: .4px;
    background: #eee;
    padding-top: 30px;
  }
  
  .fa-search{
    color: #fff;
  }
  
  .search-output {
    border: 2px solid #212121;
    margin-bottom:20px;
    padding: 10px;
    border-radius: 5px;
  }

  .search-query {
    border: 2px solid #212121;
    background: lightgray;
    color: black;
    border-radius: 50px;
  }
  .nothing {
    position:relative;
    width: 100%;
    height: 100%;
  }
  
  .nothing img {
    width:100%;
    height:100vh;
    object-fit:cover;
  }
  .nothing h4 {
    text-align:center;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 25%; left: 0; bottom: 0; right: 0;
  }

  .card-position {
    padding-left: 0px
  }
  .img-fluid {
    width: 130px;
    max-width: 70%;
    padding-top: 35px;
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: center;
    @media screen and (max-width: 425px) {
      visibility: hidden;
    }
    @media screen and (min-width: 1440px){
      width: 450px;
    }
  }

  .img-position {
    text-align: center !important;
  }

  .text-position {
    padding-left: 0px;
    padding-top: 20px;
  }

  .header-color {
    background: firebrick;
    color: whitesmoke;
  }

  .footer-color {
    background: lightgray;
    text-align: right;
  }

  .card-color {
    background: #EAECEE;
    -webkit-box-shadow: 0 2px 5px #777; 
    box-shadow: 0 2px 5px #777;
  }

  h5 {
    color: firebrick;
  }