<form #carDriverForm="ngForm" class="editForm" novalidate>
  <div class="form-horizontal">
    <div class="tab-pane in active">
      <h3 class="head text-center">{{title}}</h3>
      <hr>
      <div class="container container-form">

        <div class="row">
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label">Nom</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">
                  <i class="fa fa-id-card-o" aria-hidden="true"></i>
                </div>
                <input class="form-control input-md" required id="name_user" name="name_user" type="text" placeholder="Nom" [(ngModel)]="carDriver.name_user">
              </div>
            </div>
          </div>
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label">Prenom</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">
                  <i class="fa fa-id-card-o" aria-hidden="true"></i>
                </div>
                <input class="form-control input-md" required id="first_name_user" name="first_name_user" type="text" placeholder="Prenom"
                  [(ngModel)]="carDriver.first_name_user">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label">Adresse</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">
                  <i class="fa fa-street-view" aria-hidden="true"></i>
                </div>
                <input class="form-control input-md" required id="address_user" name="address_user" type="text" placeholder="N° et rue" [(ngModel)]="carDriver.address_user">
              </div>
            </div>
          </div>
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label">Code postal</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <input class="form-control input-md" required id="postal_code_user" name="postal_code_user" type="tel" placeholder="Code postal"
                  [(ngModel)]="carDriver.postal_code_user">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label">Ville</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">
                  <i class="fa fa-location-arrow" aria-hidden="true"></i>
                </div>
                <input class="form-control input-md" required id="city_user" name="city_user" type="text" placeholder="Ville" [(ngModel)]="carDriver.city_user">
              </div>
            </div>
          </div>
          <div class='col-xs-6 col-sm-6'>
            <div class="form-group">
              <label class="control-label">Numéro de Telephone</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <input class="form-control input-md" required id="tel_user" name="tel_user" type="tel" placeholder="N° de telephone (obligatoire)"
                  [(ngModel)]="carDriver.tel_user">
              </div>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
            <div class="row">
              <div class='col-xs-12 col-sm-6'>
                <div class="form-group">
                  <label class="control-label">Photo de vous</label>
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">
                      <i class="fa fa-file-image-o" aria-hidden="true"></i>
                    </div>
                    <input class="form-control input-md" required id="photo_user" name="photo_user" type="file" accept=".png, .jpeg, .gif" (change)="onPhotoUserChanged($event)">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>
        <br>
        <div class="form-group text-center">
          <button type="button" (click)="goToPrevious(carDriverForm)" class="btn btn-outline-dark">
            Etape Précédent
          </button>
          <button type="button" [disabled]="!carDriverForm.valid" (click)="goToNext(carDriverForm)" class="btn btn-outline-dark">
            Etape Suivante
          </button>
        </div>
      </div>
    </div>
  </div>
</form>