<app-home-header></app-home-header>
<app-signup-navbar 
[STEP1]="routerLogin"
[STEP2]="routerCarDriverDetails"
[STEP3]="routerCarDetails"
[STEP4]="routerValidation"
[STEP5]="routerConnection"
[iconStep1]="iconLogin"
[iconStep2]="iconUserAdd"
[iconStep3]="iconCar"
[iconStep4]="iconValidation"
[iconStep5]="iconConnection"
>
</app-signup-navbar>

<router-outlet name="signup-car-driver-view"></router-outlet>
<app-footer></app-footer>