<body>
  <main class="main-container">
    <figure class="snip1559">
      <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3" align="center">
          <img src="../../../../assets/images/015-user.png" class="image-user" alt="profile-sample2" />
        </div>
        <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
          <div class="container-profile">
            <h3>{{carDriver.first_name_user}} {{carDriver.name_user}}</h3>
            <h5>Automobiliste en détresse</h5>
            <p> </p>
            <hr>
            <div class="icons">
              <a href="#">
                <i class="ion-social-reddit"></i>
              </a>
              <a href="#">
                <i class="ion-social-twitter"></i>
              </a>
              <a href="#">
                <i class="ion-social-vimeo"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 position-button-tablet">
          <div align="center" class="position-button">
            <button class="pulse-button"></button>
          </div>
        </div>
      </div>
    </figure>
  </main>
</body>