<nav class="navbar navbar-expand-lg fixed-top">
    <img class="logo" src="./../../../assets/images/car-repair.png">
    <a class="navbar-brand" href="#">SOS MECANO</a>
    <button class="navbar-toggler">
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" routerLink="/login">
                    <i class=" fa fa-user-circle" aria-hidden="true"></i> Se connecter
                    <b class="caret"></b>
                </a>
            </li>
        </ul>
    </div>
</nav>