$topnav-background-color: #222;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
            padding-left: 10px;
            font-family: 'Ralaway', sans-serif;
        }
        .nav-item > a {
            color: #999;
            font-size: 20px;
            &:hover {
                color: #fff;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}

a:hover {
    color: orangered;
}
.logo {
    height: 50px;
}
.user {
    font-size: 17px !important;
}