<div class="modal-header header-color">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="container">
    <h4>
      <b>
        Besoin de clients ? La concurrence vous fait défauts ?
      </b>
    </h4>
    <br>
    <p class="info-2">
      Dépannez vos futurs clients sur place grâce a notre système de geolocalisation.
    </p>
    <p class="info-2">
      Proposez leurs vos meilleurs devis pour gagner vos futurs clients.
    </p>
    <h4 class="info-1">
      <b>
        Nous sommes là !
      </b>
    </h4>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()" routerLink="/signup/mechanician/login">JE M'INSCRIS</button>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>