<div class="modal-header header-color">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card global-card" style="width:400px">
    <div class="card-body body-align">
      <h4 class="card-title">{{quote.name_quote}}</h4>
      <p class="card-text">{{quote.description_quote}}</p>
      <p>Prix estimée du devis : {{quote.price_estimate}} € TTC</p>
      <p>Devis crée le {{quote.date_quote}}</p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">FERMER</button>
</div>