<h1>ESPACE DEVIS</h1>

		<div class="cards">

			<div class="card">
				<div class="card-header bg1">
					<img class="card-image" src="../../../assets/images/car-write.png" alt="Share"/>
				</div>
				<div class="card-content">
					<h2 class="card-title">Publiez</h2>
					<p class="card-text">Soyez précis et sympathique avec nos mécaniciens, et à vous les économies.</p>
					<a class="card-more" alt="More Info" (click)="openQuoteAdd()">Faire une demande de devis</a>
				</div>
			</div>

			<div class="card">
				<div class="card-header bg2">
					<img class="card-image" src="../../../assets/images/car-pending.png" alt="Share"/>
				</div>
				<div class="card-content">
					<h2 class="card-title">Patientez</h2>
					<p class="card-text">Les mécaniciens sont entrain d'etudier votre demande.</p>
					<a class="card-more" alt="More Info" (click)="openQuoteView()">Mes demandes en cours</a>
				</div>
			</div>

			<div class="card">
				<div class="card-header bg3">
					<img class="card-image" src="../../../assets/images/car-love.png" alt="Share"/>
				</div>
				<div class="card-content">
					<h2 class="card-title">Choisissez</h2>
					<p class="card-text">Faites votre choix parmis les meilleurs devis des mécaniciens de votre region.</p>
					<a class="card-more" alt="More Info" (click)="openQuoteCheck()">Mes devis acceptés</a>
				</div>
			</div>

		</div>