/* Imports */
@import 'https://fonts.googleapis.com/css?family=Raleway|Sansita+One';
/* Mixins */
.transition(@prop: all, @duration: .25s, @timing: linear) {
	-webkit-transition: @arguments;
	   -moz-transition: @arguments;
			transition: @arguments;
}
.size(@w: 0; @h: 0) {
	width: @w;
	height: @h;
}
.translate(@x: 0, @y: 0) {
	-webkit-transform: translate(@x, @y);
	   -moz-transform: translate(@x, @y);
			transform: translate(@x, @y);
}
.rotate(@deg: 0) {
	-webkit-transform: rotate(@deg);
	   -moz-transform: rotate(@deg);
			transform: rotate(@deg);
}
.shadow(@x, @y, @blur, @color) {
	-webkit-box-shadow: @arguments;
	   -moz-box-shadow: @arguments;
			box-shadow: @arguments;
}
/* Implementation */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
h1 {
	font-family: 'Raleway', sans-serif;
	color: #FFF;
	background-color:firebrick;
	padding: 1px 0;
	margin: 0;
	text-align: center;
	border-radius: 10px;
	font-size: 1.7em;

}
.cards {
	margin-top: 25px;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 50px;
}
.card {
	position: relative;
	border-radius: 1em;
	.size(342px, 440px);
	background-color: #FFF;
	.shadow(0, 2px, 5px, #777);
	overflow: hidden;
	margin: 10px 10px;
	.transition(all, .2s, ease-in-out);
	.card-header {
		position: absolute;
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		left: 0;
		top: 0;
		.size(100%, 45%);
		.card-image {
			height: 100%;
		}
		&.bg1 {
			background-color:darkgray;
		}
		&.bg2 {
			background-color:darkgray;
		}
		&.bg3 {
			background-color: darkgray;
		}
	}
	.card-content {
		position: absolute;
		top: 45%;
		left: 0;
		.size(100%, 55%);
		padding: 0 3%;
		.card-title {
			margin: 10px 0;
			font-family: 'Raleway', sans-serif;
			text-transform: uppercase;
			font-size: 1.3em;
		}
		.card-text {
			position: absolute;
			top: 50%;
			.translate(0, -50%);
			color: firebrick;
			font-family: 'Raleway', sans-serif;
			font-size: 1.15em;
		}
		.card-more {
			position: absolute;
			right: 10%;
			bottom: 5%;
			text-decoration: none;
			font-family: 'Raleway', sans-serif;
			font-size: 1.3em;
			color:black;
			font-weight: bold;

			&:hover {
				color: firebrick;
			}
		}
	}
	&:hover {
		.shadow(0, 5px, 6px, #777);
		.translate(0, -2%);
	}
}
.button-color {
	background: firebrick;
}