<div class="tab-pane in active">
  <h3 class="head text-center">{{title}}</h3>
  <hr>
  <p class="narrow text-center">
    Veuillez vérifier l'exactitude des informations ci-dessous et valider.
  </p>
  <div class="container container-fluid">
    <div class='row'>
      <div class='col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-8 col-md-offset-4 col-md-8'>
        <div class="row">
          <div class=''>
            <div class="form-group">
              <p class="control-label" for="name">Nom et Prénom :  {{carDriver.name_user + ' ' + carDriver.first_name_user}} </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=''>
            <div class="form-group">
              <p class="control-label" for="email">Adresse mail :  {{carDriver.email_user}} </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=''>
            <div class="form-group">
              <p class="control-label" for="work">Mot de passe :  {{carDriver.password_user}} </p>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-outline-dark" [disabled]="!isFormValid" (click)="submit()"> S'enregistrer
      </button>
    </div>
  </div>
</div>