<app-header></app-header>
<app-profile-car-driver></app-profile-car-driver>

<app-tabs
[TAB1]="routerHome" 
[TAB2]="routerQuote" 
[TAB3]="routerDashboard" 
[TAB4]="routerMyGarage" 
[TAB5]="routerHistoric"
[label1]="home"
[label2]="quote"
[label3]="dashboard"
[label4]="mygarage"
[label5]="historic"></app-tabs>

<router-outlet name="car-driver-view"></router-outlet>

<app-footer></app-footer>