<form class="editForm" novalidate>
  <div class="tab-pane in active">
    <h3 class="head text-center">Connectez-vous !</h3>
    <hr>
    <div class="container container-form">
      <div class="row">
        <div class='col-xs-6 col-sm-6'>
          <div class="form-group">
            <label class="control-label" for="firstname">Adresse-mail</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon">
                <i class="fa fa-address-card-o" aria-hidden="true"></i>
              </div>
              <input type="text" class="form-control input-md" required id="email_co" type="text"  name="email" [(ngModel)]="model.email" placeholder="Adresse-mail">
            </div>
          </div>
        </div>
        <div class='col-xs-6 col-sm-6'>
          <div class="form-group">
            <label class="control-label" for="lastname">Mot de passe</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon">
                <i class="fa fa-key" aria-hidden="true"></i>
              </div>
              <input class="form-control input-md" required id="password" [(ngModel)]="model.password" name="password_co" type="password" placeholder="Mot de passe">
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="form-group text-center">
        <button type="button" class="btn btn-outline-dark" (click)="onLoggedin()">
          Se connecter
        </button>
      </div>
    </div>
  </div>
</form>