<div class="modal-header header-color">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngFor="let ad of ads">
    <ul>
      <li>
        <h3>{{ad.name_ad}}</h3>
        <div class="row">
          <div class="col-9">
            <p>Annonce crée le {{ad.date_ad}}</p>
          </div>
          <div class="col-3 icone">
            <a (click)="openAdDelete(template)">
              <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              <ng-template #template>
                <div class="modal-body text-center">
                  <p>Voulez-vous vraiment supprimer votre demande ?</p>
                  <button type="button" class="btn btn-default" (click)="confirm(ad)">Oui</button>
                  <button type="button" class="btn btn-no" (click)="decline()">Non</button>
                </div>
              </ng-template>
            </a>
            <a (click)="openAdDetails(ad)">
              <i class="fa fa-search-plus fa-2x" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>