<div class="wrap">
  <span class="decor"></span>
  <nav>
    <ul class="primary">
      <li>
        <a routerLink="{{TAB1}}">{{label1}}</a>
      </li>
      <li>
        <a routerLink="{{TAB2}}">{{label2}}</a>
      </li>
      <li>
        <a routerLink="{{TAB3}}">{{label3}}</a>
      </li>
      <li>
        <a routerLink="{{TAB4}}">{{label4}}</a>
      </li>
      <li>
        <a routerLink="{{TAB5}}">{{label5}}</a>
      </li>
    </ul>
  </nav>
</div>