/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "responsive";

@import "assets/css/style.css";
@import "assets/css/form.css";
@import "signup-workflow";

/* Styles global in application */

a {
 color: white;
}

body {
    background: #dee4ee;
}