// shared css for the login and signup page

.user-avatar {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #fff;
}

.background {
    background-color: #222;
}

.color-white {
    color:white;
}