<app-home-header></app-home-header>
<app-signup-navbar 
[STEP1]="routerLogin"
[STEP2]="routerCompany"
[STEP3]="routerWorkSchedules"
[STEP4]="routerValidation"
[STEP5]="routerConnection"
[iconStep1]="iconLogin"
[iconStep2]="iconCompany"
[iconStep3]="iconWorkSchedules"
[iconStep4]="iconValidation"
[iconStep5]="iconConnection"
>
</app-signup-navbar>


<router-outlet name="signup-mechanician-view"></router-outlet>

<app-footer></app-footer>