<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="./../../assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>SOS Mecano</h1>

            <form role="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="form-content">
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                        <input type="text" class="form-control input-underline input-lg" placeholder="E-mail" name="email" [(ngModel)]="model.email" #email="ngModel" required>
                        <div *ngIf="f.submitted && !username.valid" class="help-block">Veuillez renseigner votre E-mail.</div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <input type="password" class="form-control input-underline input-lg" placeholder="Mot de passe" name="password" [(ngModel)]="model.password" #password="ngModel" required >
                        <div *ngIf="f.submitted && !password.valid" class="help-block">Veuillez renseigner votre Mot de passe.</div>
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onLoggedin()"> Se connecter </a>
            </form>

        </div>
    </div>
</div>
