<form #workForm="ngForm" class="editForm" novalidate>
  <div class="form-horizontal">
    <div class="tab-pane in active">
      <h3 class="head text-center">{{title}}</h3>
      <hr>
      <div class="container container-form">

        <div class='row'>
          <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
            <div class="row">
              <div class='col-xs-12 col-sm-6'>
                <div class="form-group">
                  <label class="control-label">Nom du garage</label>
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">
                      <i class="fa fa-car" aria-hidden="true"></i>
                    </div>
                    <input class="form-control input-md" required id="name_co" name="name_co" type="text" placeholder="Nom du garage" [(ngModel)]="mechanician.name_co">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label">Gerant</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">
                  <i class="fa fa-id-card-o" aria-hidden="true"></i>
                </div>
                <input class="form-control input-md" required id="boss_co" name="boss_co" type="text" placeholder="Nom et Prénom du gérant"
                  [(ngModel)]="mechanician.boss_co">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
              <label class="control-label">Date de création de l'entreprise</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">
                  <i class="fa fa-calendar-o" aria-hidden="true"></i>
                </div>
                <input type="text" placeholder="Datepicker" class="form-control" required id="creation_co" name="creation_co" type="text"
                  placeholder="Date de création de l'entreprise" bsDatepicker [(ngModel)]="mechanician.creation_co">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label">Numéro de Telephone</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <input class="form-control input-md" required id="tel_co" name="tel_co" type="tel" placeholder="N° de telephone professionnel"
                  [(ngModel)]="mechanician.tel_co">
              </div>
            </div>
          </div>
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label">Adresse</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">
                  <i class="fa fa-location-arrow" aria-hidden="true"></i>
                </div>
                <input class="form-control input-md" required id="address_co" name="address_co" type="text" placeholder="N° et rue de l'entreprise"
                  [(ngModel)]="mechanician.address_co">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label">Code Postal</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <input class="form-control input-md" required id="postal_code_co" name="postal_code_co" type="tel" placeholder="Code Postal de l'entreprise"
                  [(ngModel)]="mechanician.postal_code_co">
              </div>
            </div>
          </div>
          <div class='col-xs-12 col-sm-6'>
            <div class="form-group">
              <label class="control-label">Ville</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <input class="form-control input-md" required id="city_co" name="city_co" type="text" placeholder="Ville de l'entreprise"
                  [(ngModel)]="mechanician.city_co">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class='col-xs-6 col-sm-6'>
            <div class="form-group">
              <label class="control-label">Code NAF</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">
                  <i class="fa fa-id-badge" aria-hidden="true"></i>
                </div>
                <input class="form-control input-md" required id="naf" name="naf" type="text" placeholder="Code NAF" [(ngModel)]="mechanician.naf">
              </div>
            </div>
          </div>
          <div class='col-xs-6 col-sm-6'>
            <div class="form-group">
              <label class="control-label">Siret</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">
                  <i class="fa fa-id-badge" aria-hidden="true"></i>
                </div>
                <input class="form-control input-md" required id="siret" name="siret" type="tel" placeholder="N° de SIRET" [(ngModel)]="mechanician.siret">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-6">
            <div class="form-group">
              <label class="control-label">Site internet du garage</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </div>
                <input type="file" class="form-control input-md" required id="website_co" name="website_co" type="text" placeholder="Site internet" [(ngModel)]="mechanician.website_co">
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6">
            <div class="custom-file form-group">
              <label class="control-label" for="customFile">Kbis</label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </div>
                <input type="file" class="form-control" placeholder="Upload file" accept=".pdf" id="kbis" name="kbis" (change)="onKbisChanged($event)">
              </div>
            </div>
          </div>
        </div>

        <br>
        <br>

        <div class="form-group text-center">
          <button type="button" (click)="goToPrevious(workForm)" class="btn btn-outline-dark">
            Etape Précédente
          </button>
          <button type="button" [disabled]="!workForm.valid" (click)="goToNext(workForm)" class="btn btn-outline-dark">
            Etape Suivante
          </button>
        </div>

      </div>
    </div>
  </div>
</form>