<div class="modal-header header-color">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #AdForm="ngForm" (ngSubmit)="save()" novalidate>
  <div class="modal-body">
    <div class="form-group">
      <label for="exampleInputEmail1">Nom de votre reparation</label>
      <input type="text" class="form-control" id="name_ad" name="name_ad" required [(ngModel)]="ad.name_ad" required>
    </div>

    <div class="form-group">
      <label for="car">Quelle voiture voulez-vous réparer ?</label>
      <select class="form-control" id="car" name="id_car" [(ngModel)]="ad.id_car"> 
        <option *ngFor="let car of cars" [ngValue]="car.id_car" [selected]="cars[0]">{{car.car_brand}} {{car.car_model}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Description de la panne ou reparation a effectuée</label>
      <textarea class="form-control" id="description_ad" name="description_ad" rows="10" [(ngModel)]="ad.description_ad" required></textarea>
    </div>

    <div class="form-group">
      <label>Date voulue de reparation</label>
      <input type="text" placeholder="Datepicker" class="form-control" placement="top" required placeholder="Date voulue de reparation"
        bsDatepicker placement="top" name="repair_date" [(ngModel)]="ad.repair_date" required>
    </div>

    <div class="form-group">
      <label for="exampleInputFile">Photo de la réparation :
        <i>(Facultatif)</i>
      </label>
      <input type="file" class="form-control-file" id="photo_ad" name="photo_ad" (change)="onPhotoAdChange($event)">
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-default" [disabled]="!AdForm">ENVOYER</button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div>
</form>