$topnav-background-color: #222;

:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
            padding-left: 10px;
            font-family: 'Ralaway', sans-serif;
        }
    }
}

.nav-link {
    font-size: 20px;
    margin-left: 10px;
    color: whitesmoke;
    text-decoration: none;
        &:hover {
        color: firebrick;
        }
}

.logo {
    height: 50px;
}
.user {
    font-size: 17px !important;
}

.toggle {
    color: whitesmoke;
}
