<nav class="navbar navbar-expand-lg">
    <img class="logo" src="{{ iconSite }}">
    <a href="" class="nav-link">{{ title }}</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a routerLink="{{routerLink}}" class="nav-link">
                    <fa-icon [icon]="iconLink"></fa-icon>{{ navLink }}
                </a>
            </li>
        </ul>
    </div>
    <div class="dropdown-menu-right" dropdown>
        <button dropdownToggle type="button" class="navbar-toggler">
            <fa-icon class="toggle" [icon]="faBars"></fa-icon>
        </button>
        <ul *dropdownMenu class="dropdown-menu navbar-nav ml-auto" role="menu">
            <li role="menuitem">
                <a class="dropdown-item" routerLink="{{routerLink}}">
                    <fa-icon [icon]="iconLink" ></fa-icon>{{ navLink }}
                </a>
            </li>
        </ul>
    </div>
</nav>