<app-home-header></app-home-header>
<div class="main-container">

    <div class="jumbotron color">
        <div class="row">
            <div class="col-4 col-xs-4 col-md-4 col-lg-4">
                <img class="img-logo" src="./../../../assets/images/Mecano.png" alt="">

            </div>
            <div class="col-8 col-xs-8 col-md-8 col-lg-8 info">
                <h1 class="display-4">
                    <b>Bienvenue sur SOS Mecano</b>
                </h1>
                <p class="lead">
                    <b>SOS-Mécano est un service qui met en relations des garagistes professionnels et des automobilistes afin
                        de pouvoir les aider dans des démarches de réparations automobiles ou des pannes urgentes.</b>
                </p>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-auto col-6 col-xs-6 col-sm-12 col-md-6 col-lg-6 col-xl-6 div-user">
                <img src="./../../../assets/images/caruser.png" class="user" alt="">
                <hr>
                <button type="button" class="btn btn-user" (click)="openRegisterCarDriver()">Je suis un automobiliste</button>
            </div>
            <div class=" col-auto col-6 col-xs-6 col-sm-12 col-md-6 col-lg-6 col-xl-6 div-user">
                <img src="./../../../assets/images/mechanician.png" class="user" alt="">
                <hr>
                <button type="button" class="btn btn-co" (click)="openRegisterMechanician()">Je suis un garage</button>
            </div>
        </div>
    </div>
    <!-- User Panel -->
    <!-- <app-image-panel subtitle="Je suis un automobiliste" container="Une panne ?  Besoin d’être remorqué d’urgence ?  <br>
    C’est simple, inscrivez-vous, et un professionnel de votre secteur va venir vous aider grâce au système de géolocalisation ! <br>
    Une réparation coûteuse ? Postez votre annonce, et les professionnels vous proposeront leurs meilleurs devis !" [img]="imgUser">
    </app-image-panel>
    <br> -->
    <!-- Mechanician Panel -->
    <!-- <app-image-panel [subtitle]="titleMechancian" container="Besoin de clients ? La concurrence vous fait défauts ? <br>
     • Dépannez vos futurs clients sur place. <br>
     • Proposez leurs vos meilleurs devis." [img]="imgMechanician">
    </app-image-panel> -->
</div>
<br>
<app-footer></app-footer>
<!-- <app-footer></app-footer> -->