$break-small: 425px;
$break-large: 1200px;

.main-container {
    margin-top: 56px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
    padding-top: 30px;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}

.color {
    background: white;

}
h1 {
    color: firebrick;
}
@media screen and (max-width: 1440px) { 
.info {
    margin-top: 100px;
 }
 .img-logo {
   // height: 340px;
    margin-top: 86px;
}
}

@media screen and (max-width: $break-small) { 
.img-logo {
    height: 113px;
    margin-top: 86px;
    opacity: 0.33;
}
h1 {
    font-size: 34px;
    text-align: center;
}
p {
    text-align: justify;
    font-size: 15px;
}
.user {
    height: 170px !important;
}
.btn-user {
    height: 70px !important;
    width: 160px !important;
    background: #f49542;
    font-size: 0.8em !important;
}
.btn-co {
    height: 70px !important;
    width: 160px !important;
    background: #ce5627;
    font-size: 0.8em !important;
}
}

@media screen and (max-width: 768px) { 
    .img-logo {
        height: 220px;
        margin-top: 39px;
    }
    h1 {
        font-size: 34px;
        text-align: center;
    }
    p {
        text-align: justify;
        font-size: 15px;
    }
    .info {
           margin-top: 60px;
       }
    }

    @media screen and (max-width: 1024px) { 
        .img-logo {
            height: 220px;
            margin-top: 39px;
        }
        h1 {
            font-size: 34px;
            text-align: center;
        }
        p {
            text-align: justify;
            font-size: 15px;
        }
        .info {
               margin-top: 60px;
           }
        }

.user {
    height: 270px;
}
.div-user {
    text-align: center;
}
.btn-user {
    height: 70px;
    width: 321px;
    background: #f49542;
    font-size: 1.3em;
    border-radius: 30px;
}
.btn-co {
    height: 70px;
    width: 321px;
    background: #ce5627;
    font-size: 1.3em;
    border-radius: 30px;
}