<form #carForm="ngForm" class="editForm" novalidate>
  <div class="tab-pane in active">
    <h3 class="head text-center">{{title}}</h3>
    <hr>
    <div class="container container-form">
      <div class='row'>
        <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
          <div class="row">
            <div class='col-xs-12 col-sm-6'>
              <div class="form-group">
                <label class="control-label">Marque</label>
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon">
                    <i class="fa fa-car" aria-hidden="true"></i>
                  </div>
                  <input class="form-control input-md" required id="car_brand" name="car_brand" type="text" placeholder="Marque" [(ngModel)]="carDriver.car_brand">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class='col-xs-12 col-sm-6'>
          <div class="form-group">
            <label class="control-label">Modele</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon">
                <i class="fa fa-id-badge" aria-hidden="true"></i>
              </div>
              <input class="form-control input-md" required id="car_modele" name="car_modele" type="text" placeholder="Modéle" [(ngModel)]="carDriver.car_model">
            </div>
          </div>
        </div>
        <div class='col-xs-12 col-sm-6'>
          <div class="form-group">
            <label class="control-label">Version</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
              </div>
              <input class="form-control input-md" required id="car_version" name="car_version" type="text" placeholder="Version de la voiture"
                [(ngModel)]="carDriver.car_version">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class='col-xs-12 col-sm-6'>
          <div class="form-group">
            <label class="control-label">Numéro d’identification du véhicule</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon">
                <i class="fa fa-user-secret" aria-hidden="true"></i>
              </div>
              <input class="form-control input-md" required id="serial_number" name="serial_number" type="text" placeholder="Numéro d'identification"
                [(ngModel)]="carDriver.serial_number">
            </div>
          </div>
        </div>
        <div class='col-xs-12 col-sm-6'>
          <div class="form-group">
            <label class="control-label">Plaque d'immatriculation</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon">
                <i class="fa fa-id-card-o" aria-hidden="true"></i>
              </div>
              <input class="form-control input-md" required id="licence_plate" name="licence_plate" type="text" placeholder="Plaque d'immatriculation"
                [(ngModel)]="carDriver.license_plate">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class='col-xs-12 col-sm-6'>
          <div class="form-group">
            <label class="control-label">Type de moteur</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
              </div>
              <input class="form-control input-md" required id="engine" name="engine" type="text" placeholder="Essence, Gasoil, ..." [(ngModel)]="carDriver.engine">
            </div>
          </div>
        </div>
        <div class='col-xs-12 col-sm-6'>
          <div class="form-group">
            <label class="control-label">Date de la 1ere immatriculation du véhicule</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </div>
              <input class="form-control input-md" required id="in_service" name="in_service" type="text" placeholder="Date de la 1er immatriculation" bsDatepicker placement="top"
                [(ngModel)]="carDriver.in_service">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="custom-file form-group">
            <label class="control-label" for="customFile">Photo de votre voiture. <i>(Facultatif)</i> </label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
              </div>
              <input type="file" class="form-control" placeholder="Upload file" accept=".jpeg, .gif, .png" id="photo_car" name="photo_car" (change)="onPhotoCarChanged($event)">
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>

      <div class="form-group text-center">
        <button type="button" (click)="goToPrevious(carForm)" class="btn btn-outline-dark">
          Etape Précédent
        </button>
        <button type="button" [disabled]="!carForm.valid" (click)="goToNext(carForm)" class="btn btn-outline-dark">
          Etape Suivante
        </button>
      </div>
    </div>
  </div>
</form>