<div class="modal-header header-color">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div *ngFor="let quote of quotes">
    <ul>
      <li>
        <div class="container">
          <div class="row">
            <div class="col-10">
              <h3>{{quote.name_quote}}</h3>
              <hr>
            </div>
            <div class="col-2 icone">
              <a (click)="openAdDelete(template)">
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                <ng-template #template>
                  <div class="modal-body text-center">
                    <p>Voulez-vous vraiment supprimer votre demande ?</p>
                    <button type="button" class="btn btn-default" (click)="confirm(quote)">Oui</button>
                    <button type="button" class="btn btn-no" (click)="decline()">Non</button>
                  </div>
                </ng-template>
              </a>
            </div>
          </div>

          <div class="description_quote">
            <p>{{quote.description_quote}}</p>
            <p>Le prix estimé est de {{quote.price_estimate}} € TTC</p>
            <p>Devis crée le {{quote.date_quote}}</p>
          </div>
          <div class="icone">
            <a (click)="openAdDetails(quote.id_ad)">
              Voir l'annonce associée <i class="fa fa-angle-double-right"></i>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>