.header-color {
    background: firebrick;
    color: whitesmoke;
}
 
ul {
  list-style-type: none;
  width: 500px;
  padding-left: 0px;
}
 
h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
 
li {
  padding: 10px;
  overflow: auto;
  width: 470px;
  background: #eee;
  border-radius: 10px;
}
 
li:hover {
  background: darkgray;
  cursor: pointer;
}

@media screen and (max-width: 425px) { 
   
li {
  width: 380px;

}
}

.icone {
  text-align: right
}

.btn-no {
  background: firebrick;
  color:whitesmoke;
}

.description_quote {
  text-align: justify;
}