<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="{{STEP1}}" routerLinkActive="active" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{i1}}
        </a>
        <a routerLink="{{STEP2}}" routerLinkActive="active"class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{i2}}
        </a>
        <a routerLink="{{STEP3}}" routerLinkActive="active" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{i3}}
        </a>
        <a routerLink="{{STEP4}}" routerLinkActive="active" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{i4}}
        </a>
    </div>
</nav>