<form class="form cf">
    <div class="wizard">
        <div class="wizard-inner">
            <div class="connecting-line"></div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="nav-item">
                    <a routerLink="{{STEP1}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1" class="nav-link disabled">
                        <span class="round-tab">
                            <i class="{{iconStep1}}"></i>
                        </span>
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a routerLink="{{STEP2}}" routerLinkActive="active" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2" class="nav-link disabled">
                        <span class="round-tab">
                            <i class="{{iconStep2}}"></i>
                        </span>
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a routerLink="{{STEP3}}" routerLinkActive="active" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3" class="nav-link disabled">
                        <span class="round-tab">
                            <i class="{{iconStep3}}"></i>
                        </span>
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a routerLink="{{STEP4}}" routerLinkActive="active" data-toggle="tab" aria-controls="step4" role="tab" title="Step 4" class="nav-link disabled">
                        <span class="round-tab">
                            <i class="{{iconStep4}}"></i>
                        </span>
                    </a>
                </li>
                <li role="presentation" class="nav-item">
                    <a routerLink="{{STEP5}}" routerLinkActive="active" data-toggle="tab" aria-controls="step5" role="tab" title="Step 5" class="nav-link disabled">
                        <span class="round-tab">
                            <i class="{{iconStep5}}"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</form>