<app-header></app-header>
<app-profile-mechanician></app-profile-mechanician>

<app-tabs
[TAB1]="routerHome" 
[TAB2]="routerEmergencyService" 
[TAB3]="routerDashboard" 
[TAB4]="routerMyClient" 
[TAB5]="routerHistoric"
[label1]="home"
[label2]="emergencyService"
[label3]="dashboard"
[label4]="myClient"
[label5]="historic"></app-tabs>

<router-outlet name="mechanician-view"></router-outlet>
<app-footer></app-footer>