<div class="modal-header header-color">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card global-card" style="width:400px">
    <img class="card-img-top img-card" src="./../../../assets/images/car.png" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">{{carDetails.car_brand}} {{carDetails.car_model}} {{carDetails.car_version}}</h4>
      <p>Numéro d'immatriculation : {{carDetails.licence_plate}}</p>
      <p>Date de la 1er immatriculation : {{carDetails.in_service}}</p>
      <p>Type de moteur : {{carDetails.engine}}</p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>