<div class="modal-header header-color">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card global-card" style="width:400px">
    <img class="card-img-top img-card" src="./../../../assets/images/repaircar.png" alt="Card image">
    <div class="card-body body-align">
      <h4 class="card-title">{{ad.name_ad}}</h4>
      <p class="card-text">{{ad.description_ad}}</p>
      <p>Date voulu de réparation le {{ad.repair_date}}</p>
      <p>Annonce crée le {{ad.date_ad}}</p>
      <div class="btn-center">
        <a class="btn btn-update" (click)="openCarDetails(ad)">DETAILS VOITURE</a>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="openUpdateAd(ad)">{{updateBtnName}}</button>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>