.header-color {
    background: firebrick;
    color: whitesmoke;
}

.btn-update {
    background: black;
    color: whitesmoke !important;
}

.btn-center {
    text-align: center;
}

.img-card {
    background: lightgrey;
}

.global-card {
    border-radius: 10px;
}

.body-align {
    text-align: justify;
}


@media screen and (max-width: 440px) { 
    .global-card {
        width: 375px !important;
    }
}

@media screen and (min-width: 1440px) { 
    .global-card {
        width: 465px !important;
    }
}