<div class="modal-header header-color">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngFor="let quote of quotes; index as i">
    <ul>
      <li>
        <div class="row">
          <div class="col-6">
            <h3>{{quote.name_quote}}</h3>
          </div>
          <div class="col-6 date-position">
            <span>
              <i>Devis crée le {{quote.date_quote}}</i>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="container body-align">
            <p>{{quote.description_quote}}</p>
            <p>Le prix estimé par le garage est de
              <span class="price">
                <b>{{quote.price_estimate}} €</b>
              </span>
              <span>TTC</span>
            </p>
          </div>
        </div>
        <hr>
        <div class="row button-position">
          <div class="col">
            <a (click)="deleteQuote(quotes[i])"></a>
            <img src="../../../assets/images/001-round-delete-button.png">
          </div>
          <div class="col button-position">
            <a (click)="acceptQuote(quotes[i])">
              <img src="../../../assets/images/002-checkmark-verify-interface-symbol-button.png">
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>