<div class="modal-header header-color">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <h4>
      <b>
        Une panne ? Besoin d’être remorqué d’urgence ?
      </b>
    </h4>
    <br>
    <h5 class="info-1">Pas d'assurrance 0km ?</h5>
    <br>
    <p class="info-2">
      C’est simple, inscrivez-vous, et un professionnel de votre secteur va venir vous aider grâce au système de géolocalisation
      !
    </p>
    <h4>
      <b>
        Une réparation coûteuse ?
      </b>
    </h4>
    <br>
    <p>
      Postez votre annonce, et les professionnels vous proposeront leurs meilleurs devis !
    </p>

    <h4 class="info-1">
        <b>
         Nous sommes là !
        </b>
      </h4>
  </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()" routerLink="/signup/car-driver/login">JE M'INSCRIS</button>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>