<div class="tab-pane in active">
  <h3 class="head text-center">{{title}}</h3>
  <hr>
  <p class="narrow text-center">
    Veuillez vérifier l'exactitude des informations ci-dessous et valider.
  </p>
  <div class="container container-fluid">
    <div class='row'>
      <div class='col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-8 col-md-offset-4 col-md-8'>
        <div class="row">
          <div class=''>
            <div class="form-group">
              <p class="control-label" for="name">Nom de votre entreprise et du gèrant :  {{mechanician.name_co + ' ' + mechanician.boss_co}} </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=''>
            <div class="form-group">
              <p class="control-label" for="email">Adresse mail : {{mechanician.email_co}}
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=''>
            <div class="form-group">
              <p class="control-label" for="work">Mot de passe : {{mechanician.password_co}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="button" [disabled]="!isFormValid" (click)="submit()" class="btn btn-outline-dark">
        S'enregistrer
      </button>
    </div>
  </div>
</div>