@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

body {
    background-color: #dee4ed;
}
h1 {
	font-family: 'Raleway', sans-serif;
	color: #FFF;
	background-color:firebrick;
	padding: 1px 0;
	margin: 0;
	text-align: center;
	border-radius: 10px;
	font-size: 1.7em;

}


@media screen and (max-width: 425px) {
    .img {
        height: 100px;
    }
}

