<div class="modal-header header-color">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #QuoteForm="ngForm" (ngSubmit)="save()" novalidate>
  <div class="modal-body">
    <div class="form-group">
      <label>Nom du devis</label>
      <input type="text" class="form-control" id="name_quote" name="name_quote" required [(ngModel)]="quote.name_quote" required>
    </div>

    <div class="form-group">
      <label>Description du devis</label>
      <textarea class="form-control" id="description_quote" name="description_quote" rows="10" [(ngModel)]="quote.description_quote"
        required></textarea>
    </div>

    <div class="form-group">
      <label>Prix estimée de la réparation</label>
      <input type="numeric" placeholder="Datepicker" class="form-control" placement="top" required placeholder="Prix TTC"
        name="price_estimate" [(ngModel)]="quote.price_estimate" required>
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-default" [disabled]="!QuoteForm">ENVOYER</button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div>
</form>