<nav class="navbar navbar-expand-lg fixed-top">
    <img class="logo" src="./../../../assets/images/car-repair.png">
    <a class="navbar-brand" href="#">SOS MECANO</a>
    <button class="navbar-toggler" (click)="toggleSidebar()">
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <div class="dropdown" dropdown>
                <a href="javascript:void(0)" class=" user nav-link dropdown-toggle waves-light color-user" dropdownToggle>
                    <i class="fa fa-user"></i> {{carDriver.name_user}} {{carDriver.first_name_user}} {{mechanician.name_co}}
                    <b class="caret"></b>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Profil</a>
                    <a class="dropdown-item" href="#">Mes annonces</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Se deconnecter</a>
                </div>
            </div>
        </ul>
    </div>
</nav>