<div class="modal-header header-color">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngFor="let ad of ads">
    <ul>
      <li>
        <h3>{{ad.name_ad}}</h3>
        <div class="column">
          <div>
            <p>Annonce crée le {{ad.date_ad}}</p>
          </div>
          <div class="icone">
            <a (click)="openQuoteView(ad)">
              Voir les devis proposés
              <i class="fa fa-angle-double-right"></i>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>