<body>
  <main class="main-container">
    <figure class="snip1559">
      <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3" align="center">
          <img src="../../../../assets/images/015-user.png" class="image-user" alt="profile-sample2" />
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
          <div class="container-profile">
            <h3>{{mechanician.name_co}}</h3>
            <h5>Mecanicien à la rescousse</h5>
            <p> </p>
            <hr>
            <div class="icons">
              <a href="#">
                <i class="ion-social-reddit"></i>
              </a>
              <a href="#">
                <i class="ion-social-twitter"></i>
              </a>
              <a href="#">
                <i class="ion-social-vimeo"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </figure>
  </main>
</body>