@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
body {
  background-color: #dee4ee;
}

.main-container {
        margin-top: 56px;
       // margin-left: 235px;
        padding: 15px;
        -ms-overflow-x: hidden;
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;
        overflow: hidden;
        padding-right: 30px;
    }
    @media screen and (max-width: 992px) {
        .main-container {
            margin-left: 0px !important;
        }
    }

    .snip1559 {
      font-family: 'Lato', Arial, sans-serif;
      position: relative;
      display: flow-root;
      overflow: hidden;
      margin: 8px;
      min-width: 250px;
      width: 100%;
      background-color: #ffffff;
      color: #2B2B2B;
      text-align: left;
      font-size: 16px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
    }
    
    .snip1559 * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    
    .image-user {
    max-width: 200px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    }
    
    .container-profile{
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 35px;
    margin-left: 10px;
    @media screen and (max-width: 1024px) {
      margin-left: 53px;
    }
    @media screen and (max-width: 320px) {
       margin-left: 10px;;
    }
    @media screen and (max-width: 375px) {
      margin-left: 10px;;
   }
   @media screen and (max-width: 425px) {
    margin-left: 10px;;
 }
  }
  
  .position-button {
    right: 66px;
    margin-top: 65px;
    margin-bottom: 74px;
    }

    @media screen and (max-width: 768px) {
      .position-button-tablet {
        left: 0px;
        padding-left: 0px !important;
      }
    }
  
    .snip1559 h3 {
      font-family: 'Oswald';
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      margin: 3px 0;
    }
    
    .snip1559 h5 {
      font-weight: 400;
      margin: 0;
      text-transform: uppercase;
      color: #888;
      letter-spacing: 1px;
    }
    
    .snip1559 .icons i {
      color: #999;
      display: inline-block;
      margin-right: 5px;
      font-size: 1.5em;
    }
    
    .snip1559 .icons i:hover {
      color: #555;
    }
    
    .snip1559 .icons i a {
      text-decoration: none;
    }
    

    .pulse-button {
    
      position: relative;
      width: 100px;
      height: 100px;
      border: none;
      box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
      border-radius: 50%;
      background-color: #e84c3d;
      background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/jonathanlarradet_copy.png);
      background-size:cover;
      background-repeat: no-repeat;
      cursor: pointer;
      -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
      -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
      -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
      animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    }
    .pulse-button:hover 
    {
      -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
    }
    
    @-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
    @-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
    @-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
    @keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
    
