<!--Panel-->
<div class="container-fluid">
  <div class="row">
    <div class=" col-sm-2 col-md-2 col-lg-2 col-xl-2 image-align">
      <img src="{{img}}" class="image-panel img-fluid">
    </div>
    <div class=" col-sm-10 col-md-10 col-lg-10 col-xl-10">
      <div class="card">
        <h4 class="card-header stylish-color-dark white-text" [innerHTML]="subtitle"></h4>
        <div class="card-body">
          <h5 class="card-title">Comment ça marche ?</h5>
          <p class="card-text text-justify" [innerHTML]="container">
           
          </p>
          <a class="btn stylish-color waves-light" mdbRippleRadius routerLink="/signup" >S'enregistrer</a>
        </div>
      </div>
    </div>
  </div>
</div>