<div class="modal-header header-color">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  
    <div *ngFor="let quote of quotes">
      <ul>
        <li>
            <div class="column">
              <div class="col">
                <h3>{{quote.Ad.name_ad}}</h3>
                <hr>
              </div>
              <div class="col-2 icone">
                <a (click)="openCarDetails(quote.Ad)">
                  <img class="icone" src="../../../assets/images/sports-car.png" >
                </a>
              </div>
              <div class="col text-align">
                <p>{{quote.Ad.description_ad}}</p>
                <p>{{quote.Ad.repair_date}}</p>
                <p>Annonce crée le {{quote.Ad.date_ad}}</p>
                <hr>
                <div>
                  <h5>
                    Appeler le client au : 0{{quote.Ad.User.tel_user}}
                  </h5>
                </div>
              </div>
            </div>
            <div class="icone">
              <a (click)="openQuoteDetails(quote.Ad)">
                Voir le devis associé
                <i class="fa fa-angle-double-right"></i>
              </a>
            </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div>